body {
    font-family: Arial, sans-serif;
    background-color: #caf0f8;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: #48cae4;
    width: 450px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

.converter {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f4acb7;
    border-radius: 5px;
}

button {
    background-color: #03045e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    text-align: left;
}

span {
    font-weight: bold;
}
